{% extends "main.html" %}

{% block content %}
	<form id="new-post" method="post" action="/{{action}}" class="new-post">
		<input type="hidden" name="id" value="{{id}}">
		<label>Author: {{user}}</label>
		<label for="title">Title: 
			<input type="text" name="title" value="{{title}}">
		</label>
		<label for="content">Text (plain text only; HTML tags will be automatically stripped)
			<textarea class="post-entry" name="content">{{text}}</textarea>
		</label>
		<input type="submit">
	</form>
	{% if action == "edit" %}
		<h4><a href="p/{{id}}">Cancel editing and return to the post</a></h4>
	{% endif %}

{% endblock %}